<ul class="nav justify-content-end">
    <li class="flotccf">
        <h1>Libary Managment</h1>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/admin">Admin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/user">User</a>
    </li>
</ul>
<div class="body">
    <h5>
        PLEASE SELECT ADMIN OR USER
        <div class="spinner-grow" role="status">

        </div>
    </h5>
</div>
<br />
<br />

<router-outlet></router-outlet>